@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ranchers&family=Shippori+Antique+B1&display=swap");

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #22262a;
  color: #ffffff;
}

.container {
  max-width: 140rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8d452;
  border-bottom: 4px solid #000000;
  z-index: 30;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem 0;
  transition: 300ms ease-in;
}

.navlink {
  font-family: "Ranchers", cursive;
  font-size: 2.8rem;
  color: #000000;
}

.navlink:hover {
  color: #ffffff;
}

/* Hero-Section */

.hero {
  position: relative;
  margin-top: 5.2rem;
  background-color: #22262a;
}

canvas {
  display: inline-block;
  vertical-align: baseline;
}

#canvas {
  background-image: url("../images/Banner3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #22262a;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #ffffff;
}

.hero-logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 45rem;
}

.hero-logo > img {
  display: block;
  width: 100%;
}

.timer-container {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 75rem;
}

.timer-container > h1 {
  color: #f8d452;
  font-family: "Ranchers", cursive;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

#countdown > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.countdown-item {
  display: inline-block;
  font-size: 2.2rem;
  line-height: 1.3;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

.countdown-item span {
  display: block;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}

/* Pitch-Section */

.pitch {
  background-color: #22262a;
  color: #ffffff;
  padding: 5rem 0 2.5rem;
}

.container-sm {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.pitch-header > h1 {
  color: #f8d452;
  font-family: "Ranchers", cursive;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.pitch-header > img {
  display: block;
  margin: 0 auto;
}

.pitch-description {
  margin-top: 3.5rem;
  padding: 0 2.5rem;
}

.pitch-description > p {
  letter-spacing: 1.2px;
  font-size: 1.8rem;
  text-align: center;
}

.pitch-div {
  margin: 1.5rem 0;
}

.pitch-div p {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1.2px;
}

.pitch-gif {
  display: block;
  width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

/* Membership-Section */

.member {
  background-color: #22262a;
  color: #ffffff;
  padding: 2.5rem 0;
}

.container-sm {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.member-header > h1 {
  color: #f8d452;
  font-family: "Ranchers", cursive;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.member-header > img {
  display: block;
  margin: 0 auto;
}

.member-description {
  margin-top: 3.5rem;
  padding: 0 2.5rem;
}

.member-description > p {
  letter-spacing: 1.2px;
  font-size: 1.8rem;
  text-align: center;
}

.timeline {
  position: relative;
  margin: 40px 0 0 0;
  color: #ffffff;
  background-color: #3e3e3f;
  border-radius: 2.5px;
  padding: 2.5rem;
}

.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
  margin: 0 auto;
}

.mb-none {
  margin-bottom: 0;
}

.timeline .timeline-container .timeline-body {
  margin-bottom: 1.5rem;
}

.timeline .timeline-container .timeline-body > p {
  letter-spacing: 1.2px;
  font-size: 1.6rem;
  text-align: center;
}

.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1.4rem;
  text-align: center;
}

.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 11px;
}

.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
  background: #1d8cf8 !important;
}

.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
  background: #00bf9a !important;
}

.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
  background: #ff8d72 !important;
}

.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
  background: #fd5d93 !important;
}

/* Roadmap-Section */

.roadmap {
  background-color: #22262a;
  color: #ffffff;
  padding: 2.5rem 0;
}

.roadmap-header > h1 {
  color: #f8d452;
  font-family: "Ranchers", cursive;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.roadmap-header > img {
  display: block;
  margin: 0 auto;
}

.roadmap-description {
  margin-top: 3.5rem;
}

.roadmap-description > img {
  display: block;
  width: 100%;
}

.roadmap-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 3.5rem;
}

.phase-box {
  flex: 1 0 20%;
  background-color: #394f59;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: help;
  color: #f8d452;
  font-size: 2.4rem;
  font-weight: 600;
}

.phase-name {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.tippy-content {
  white-space: pre-line;
}

/* Team-Section */

.team {
  padding: 2.5rem 0;
}

.team-header > h1 {
  color: #f8d452;
  font-family: "Ranchers", cursive;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.team-header > img {
  display: block;
  margin: 0 auto;
}

.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3.5rem 0;
}

.cardBox {
  float: left;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 27rem;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background-color: #3e3e3f;
  cursor: default;
  height: 330px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 0.5rem;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front > img {
  display: block;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 50%;
}

.card .front h3 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.card .back {
  transform: rotateY(180deg);
  background-color: #e9be25;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card .back p {
  font-size: 1.6rem;
  text-align: center;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Footer */
.footer {
  padding: 1.5rem 0;
  background-color: #f8d452;
  color: #000000;
  text-align: center;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.footer-text {
  font-family: "Ranchers", cursive;
  font-size: 2.8rem;
}

#mobile-menu {
  display: none;
}

.sidebar {
  height: auto;
  width: 0px;
  position: fixed;
  z-index: 50;
  text-align: center;
  top: 35vh;
  padding: 5px;
}

.socials ul li {
  list-style: none;
  margin-bottom: 10px;
}

.socials ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.socials ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.socials ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socials ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.socials ul li a:hover:before {
  top: 0;
}

.socials ul li:nth-child(1) a:before {
  background: rgb(225, 48, 108);
}

.socials ul li:nth-child(2) a:before {
  background: #55acee;
}

.socials ul li:nth-child(3) a:before {
  background: rgb(0, 0, 0);
}

.socials ul li:nth-child(4) a:before {
  background: rgb(88 101 242);
}

/* Media Queries */

@media (max-height: 600px) {
  /* #canvas {
    display: none;
  } */

  .hero {
    background-image: url("../images/Banner3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #22262a;
    width: 100%;
    height: 70rem;
    border-bottom: 4px solid #ffffff;
  }
}

@media (max-width: 1200px) {
  /* #canvas {
    display: none;
  } */

  .hero {
    background-image: url("../images/Banner3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #22262a;
    width: 100%;
    height: 70rem;
    border-bottom: 4px solid #ffffff;
  }
}

@media (max-width: 980px) {
  .phase-box {
    flex: 1 1 33.333%;
  }
}

@media (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
  }
}

@media (max-width: 735px) {
  .hero-logo {
    width: 38rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  .timer-container {
    width: 100%;
  }

  .timer-container > h1,
  .pitch-header > h1,
  .member-header > h1,
  .roadmap-header > h1,
  .team-header > h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 690px) {
  .team-cards {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  #mobile-menu {
    display: block;
    font-size: 3.2rem;
    cursor: pointer;
  }

  .header {
    z-index: 100;
    padding: 1.5rem 0;
    background: #f8d452;
    border-bottom: 0;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    background: #f8d452;
    padding: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    gap: 1.5rem;
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media (max-width: 625px) {
  .cardBox {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .pitch-description,
  .member-description {
    padding: 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65rem;
  }

  .hero-logo {
    width: 32rem;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .timer-container {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media (max-width: 500px) {
  .timer-container > h1,
  .pitch-header > h1,
  .member-header > h1,
  .roadmap-header > h1,
  .team-header > h1 {
    font-size: 3.5rem;
  }

  .countdown-item span {
    font-size: 3.2rem;
  }

  .countdown-item {
    font-size: 1.8rem;
  }

  .sidebar {
    top: 25vh;
  }

  .socials ul li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    margin: 0 5px;
  }

  .pitch-description > p,
  .member-description > p {
    letter-spacing: 1.2px;
    font-size: 1.6rem;
  }

  .timeline {
    padding: 1rem;
  }

  .cardBox {
    width: 95%;
  }

  .phase-box {
    flex: 1 1 50%;
    padding: 1rem;
  }

  .pitch-gif {
    width: 28rem;
  }

  .timeline .timeline-container .timeline-body .timeline-title .badge {
    width: 100%;
  }
}
